@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
@import url("https://fonts.googleapis.com/css?family=Vollkorn:400i");
html, body {
  font-size: 15px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

* {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

input, textarea, button, select, option, optgroup, fieldset, label {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 0; }

a {
  display: inline-block;
  text-decoration: none;
  color: currentColor; }

[class*='flex'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  [class*='flex'] > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 10px; }

[class*='flex'][class*='-jc-'] {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

[class*='flex'][class*='-jfs-'] {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

[class*='flex'][class*='-jfe-'] {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

[class*='flex'][class*='-jsa-'] {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

[class*='flex'][class*='-jsb-'] {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

[class*='flex'][class*='-ac-'] {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

[class*='flex'][class*='-as-'] {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

[class*='flex'][class*='-afs-'] {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

[class*='flex'][class*='-afe-'] {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

[class*='flex'][class*='-nw-'] {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

[class*='-f10-'] > * {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

[class*='-f01-'] > * {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 1;
  flex-shrink: 1; }

[class*='-f11-'] > * {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1; }

[class*='flex'][class*='-l1-'] > * {
  width: calc( 100% - 20px);
  -ms-flex-preferred-size: calc( 100% - 20px);
  flex-basis: calc( 100% - 20px); }

[class*='flex'][class*='-l2-'] > * {
  width: calc( 50% - 20px);
  -ms-flex-preferred-size: calc( 50% - 20px);
  flex-basis: calc( 50% - 20px); }

[class*='flex'][class*='-l3-'] > * {
  width: calc( 33.33% - 20px);
  -ms-flex-preferred-size: calc( 33.33% - 20px);
  flex-basis: calc( 33.33% - 20px); }

[class*='flex'][class*='-l4-'] > * {
  width: calc( 25% - 20px);
  -ms-flex-preferred-size: calc( 25% - 20px);
  flex-basis: calc( 25% - 20px); }

[class*='flex'][class*='-l5-'] > * {
  width: calc( 20% - 20px);
  -ms-flex-preferred-size: calc( 20% - 20px);
  flex-basis: calc( 20% - 20px); }

[class*='flex'][class*='-l6-'] > * {
  width: calc( 16.66% - 20px);
  -ms-flex-preferred-size: calc( 16.66% - 20px);
  flex-basis: calc( 16.66% - 20px); }

@media screen and (max-width: 992px) {
  [class*='flex'][class*='-m1-'] > * {
    width: calc( 100% - 20px);
    -ms-flex-preferred-size: calc( 100% - 20px);
    flex-basis: calc( 100% - 20px); }
  [class*='flex'][class*='-m2-'] > * {
    width: calc( 50% - 20px);
    -ms-flex-preferred-size: calc( 50% - 20px);
    flex-basis: calc( 50% - 20px); }
  [class*='flex'][class*='-m3-'] > * {
    width: calc( 33.33% - 20px);
    -ms-flex-preferred-size: calc( 33.33% - 20px);
    flex-basis: calc( 33.33% - 20px); }
  [class*='flex'][class*='-m4-'] > * {
    width: calc( 25% - 20px);
    -ms-flex-preferred-size: calc( 25% - 20px);
    flex-basis: calc( 25% - 20px); } }

@media screen and (max-width: 768px) {
  [class*='flex'][class*='-s1-'] > * {
    width: calc( 100% - 20px);
    -ms-flex-preferred-size: calc( 100% - 20px);
    flex-basis: calc( 100% - 20px); }
  [class*='flex'][class*='-s2-'] > * {
    width: calc( 50% - 20px);
    -ms-flex-preferred-size: calc( 50% - 20px);
    flex-basis: calc( 50% - 20px); }
  [class*='flex'][class*='-s3-'] > * {
    width: calc( 33.33% - 20px);
    -ms-flex-preferred-size: calc( 33.33% - 20px);
    flex-basis: calc( 33.33% - 20px); } }

@media screen and (max-width: 320px) {
  [class*='flex'][class*='-xs1-'] > * {
    width: calc( 100% - 20px);
    -ms-flex-preferred-size: calc( 100% - 20px);
    flex-basis: calc( 100% - 20px); }
  [class*='flex'][class*='-xs2-'] > * {
    width: calc( 50% - 20px);
    -ms-flex-preferred-size: calc( 50% - 20px);
    flex-basis: calc( 50% - 20px); } }

[class*='btn'] {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center; }

*:not(i) {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
  position: relative;
  -webkit-font-smoothing: antialiased; }

/* width */
::-webkit-scrollbar {
  width: 2px;
  border-radius: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: transparent; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2); }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

img {
  width: 100%; }

.f-sf {
  letter-spacing: 1px;
  font-family: 'Vollkorn', serif; }

body {
  overflow-x: hidden;
  padding-left: 75px;
  background-color: #d4d4d4; }
  @media screen and (max-width: 992px) {
    body {
      padding-left: 0; } }

nav#mb-nav {
  display: none;
  background-color: transparent; }

#mb-nav-list {
  display: none; }

@media screen and (max-width: 992px) {
  #mb-nav-list.active {
    display: block; }
  nav#mb-nav {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 33; }
    nav#mb-nav .logo {
      height: 40px;
      width: 40px;
      padding: 3px; }
      nav#mb-nav .logo img {
        width: auto;
        height: 100%; }
    nav#mb-nav .calltoaction {
      width: 120px;
      line-height: 20px;
      font-size: 13px;
      -webkit-box-shadow: inset 0 0 0 1px #fff;
      box-shadow: inset 0 0 0 1px #fff;
      text-align: center;
      color: #fff;
      border-radius: 0;
      font-weight: 600; }
    nav#mb-nav .menu-btn {
      width: 40px;
      height: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; }
      nav#mb-nav .menu-btn i {
        color: #fff;
        display: none; }
      nav#mb-nav .menu-btn i.active {
        display: block; }
  #mb-nav-list {
    position: fixed;
    width: 100%;
    top: 40px;
    left: 0;
    height: calc( 100vh - 40px);
    color: #806239;
    z-index: 33;
    background-color: #0f1726; }
    #mb-nav-list a {
      display: block;
      margin: 0 auto;
      font-family: 'Vollkorn', serif;
      font-size: 50px;
      text-align: center;
      padding: 7px 0; } }

nav#nav {
  background-color: #152138;
  position: fixed;
  left: 0;
  top: 0;
  width: 75px;
  height: 100vh;
  z-index: 30;
  color: #d4d4d4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 992px) {
    nav#nav {
      display: none; } }
  nav#nav .logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 13px;
    -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1); }
    nav#nav .logo img {
      width: 51px; }
  nav#nav .middle {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    nav#nav .middle a {
      display: block;
      height: 30px;
      width: 30px;
      position: relative; }
    nav#nav .middle a:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 5px;
      height: 1px;
      margin: auto;
      -webkit-box-shadow: inset 0 0 0 1px #d4d4d4;
      box-shadow: inset 0 0 0 1px #d4d4d4;
      -webkit-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease; }
    nav#nav .middle a.active:after {
      height: 5px;
      margin: 13px auto;
      border-radius: 100%;
      -webkit-box-shadow: 0 0 0 1px #d4d4d4;
      box-shadow: 0 0 0 1px #d4d4d4; }
    nav#nav .middle a:hover:after {
      height: 5px;
      margin: 13px auto;
      border-radius: 100%;
      -webkit-box-shadow: 0 0 0 1px #d4d4d4;
      box-shadow: 0 0 0 1px #d4d4d4;
      background-color: #d4d4d4; }
  nav#nav .calltoaction {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    background-color: #0f1726;
    width: 100%;
    font-size: 17px; }
    nav#nav .calltoaction .top {
      position: absolute;
      left: -7px;
      top: 52px;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      line-height: 1.2; }
    nav#nav .calltoaction .btn {
      width: 26px;
      height: 26px;
      border-radius: 100%;
      -webkit-box-shadow: inset 0 0 0 1px;
      box-shadow: inset 0 0 0 1px;
      position: absolute;
      bottom: 23px;
      left: 0;
      right: 0;
      margin: auto; }
      nav#nav .calltoaction .btn:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 0;
        width: 0;
        -webkit-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
        transform: translateY(-1px);
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 8px solid #d4d4d4; }

footer h2 {
  position: relative;
  margin-top: 50px;
  line-height: 1;
  letter-spacing: 1px;
  font-family: 'Vollkorn', serif;
  color: #152138;
  font-size: 100px;
  max-width: 1200px;
  width: 100%;
  margin: 0; }

header,
section {
  position: relative;
  padding: 0 43px;
  min-height: 900px;
  color: #152138; }
  @media screen and (max-width: 992px) {
    header,
    section {
      padding: 0 5px;
      min-height: 100vh; } }
  header h2,
  section h2 {
    position: relative;
    margin-top: 50px;
    line-height: 1;
    letter-spacing: 1px;
    font-family: 'Vollkorn', serif;
    color: #152138;
    font-size: 100px;
    max-width: 1200px;
    width: 100%;
    margin: 50px auto 0; }
    @media screen and (max-width: 992px) {
      header h2,
      section h2 {
        font-size: 50px;
        padding: 0 5%; } }
  header .content,
  section .content {
    max-width: 1200px;
    width: 100%;
    margin: auto; }
  header h3,
  section h3 {
    font-size: 29px; }
  header h4,
  section h4 {
    font-size: 24px;
    font-family: 'Vollkorn', serif; }
  header p,
  section p {
    font-size: 17px;
    line-height: 1.7; }

header .main-bg.active {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  font-size: 0;
  z-index: -1; }
  header .main-bg.active div {
    display: inline-block;
    width: 20%;
    height: 20%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    -webkit-animation: bgshow 0.5s ease 0s 1 both;
    animation: bgshow 0.5s ease 0s 1 both; }
  header .main-bg.active div:nth-of-type(1) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
  header .main-bg.active div:nth-of-type(2) {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s; }
  header .main-bg.active div:nth-of-type(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  header .main-bg.active div:nth-of-type(4) {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s; }
  header .main-bg.active div:nth-of-type(5) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  header .main-bg.active div:nth-of-type(6) {
    -webkit-animation-delay: 0.35s;
    animation-delay: 0.35s; }
  header .main-bg.active div:nth-of-type(7) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
  header .main-bg.active div:nth-of-type(8) {
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s; }
  header .main-bg.active div:nth-of-type(9) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s; }
  header .main-bg.active div:nth-of-type(10) {
    -webkit-animation-delay: 0.55s;
    animation-delay: 0.55s; }
  header .main-bg.active div:nth-of-type(11) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s; }
  header .main-bg.active div:nth-of-type(12) {
    -webkit-animation-delay: 0.65s;
    animation-delay: 0.65s; }
  header .main-bg.active div:nth-of-type(13) {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s; }
  header .main-bg.active div:nth-of-type(14) {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s; }
  header .main-bg.active div:nth-of-type(15) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s; }
  header .main-bg.active div:nth-of-type(16) {
    -webkit-animation-delay: 0.85s;
    animation-delay: 0.85s; }
  header .main-bg.active div:nth-of-type(17) {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s; }
  header .main-bg.active div:nth-of-type(18) {
    -webkit-animation-delay: 0.95s;
    animation-delay: 0.95s; }
  header .main-bg.active div:nth-of-type(19) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }
  header .main-bg.active div:nth-of-type(20) {
    -webkit-animation-delay: 1.05s;
    animation-delay: 1.05s; }
  header .main-bg.active div:nth-of-type(21) {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s; }
  header .main-bg.active div:nth-of-type(22) {
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s; }
  header .main-bg.active div:nth-of-type(23) {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s; }
  header .main-bg.active div:nth-of-type(24) {
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s; }
  header .main-bg.active div:nth-of-type(25) {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s; }

@-webkit-keyframes bgshow {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes bgshow {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media screen and (max-width: 992px) {
  header {
    min-height: 100vh;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-image: url("../img/main/header.png"); }
    header .main-bg {
      display: none; } }

header h2 {
  position: absolute;
  left: 43px;
  top: 150px;
  line-height: 1.3;
  letter-spacing: 1px;
  font-family: 'Vollkorn', serif;
  color: #152138;
  font-size: 23px; }
  @media screen and (max-width: 992px) {
    header h2 {
      color: #fff;
      left: 5%; } }

.social-icons {
  position: absolute;
  left: 30px;
  bottom: 25px;
  font-size: 12px;
  color: #152138; }
  .social-icons a {
    font-size: 15px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px; }
  .social-icons a:nth-of-type(2) {
    position: relative;
    font-size: 19px;
    top: 2px; }

.header-tip {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  margin: auto;
  font-size: 21px;
  text-align: center;
  color: #fff;
  line-height: 1.2; }
  .header-tip:after, .header-tip:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -80px;
    margin: auto;
    width: 1px;
    height: 63px;
    background-color: #fff;
    -webkit-animation: bling 1.5s ease 0s infinite both;
    animation: bling 1.5s ease 0s infinite both; }

@-webkit-keyframes bling {
  0% {
    opacity: 0;
    bottom: -60px; }
  50% {
    opacity: 1; }
  99% {
    opacity: 0;
    bottom: -80px; }
  100% {
    opacity: 0;
    bottom: -60px; } }

@keyframes bling {
  0% {
    opacity: 0;
    bottom: -60px; }
  50% {
    opacity: 1; }
  99% {
    opacity: 0;
    bottom: -80px; }
  100% {
    opacity: 0;
    bottom: -60px; } }
  .header-tip:before {
    height: 17px;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

section .content {
  width: 100%;
  max-width: 1000px; }

.sec2 {
  background-image: url("../img//main/bg.png");
  background-repeat: repeat;
  background-size: 300px;
  min-height: 700px !important; }
  .sec2 .content > div {
    padding: 5%; }
    .sec2 .content > div h3 {
      margin-bottom: 20px; }

.sec3:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #152138;
  z-index: -1;
  width: 100%;
  height: 60%; }

.sec3,
.sec4 {
  min-height: 0;
  color: #d4d4d4; }
  .sec3 .content,
  .sec4 .content {
    max-width: 1200px;
    padding-top: 10%; }
    .sec3 .content p,
    .sec4 .content p {
      font-size: 18px;
      max-width: 310px; }
  .sec3 .left,
  .sec4 .left {
    margin: 0 !important; }
  .sec3 .right,
  .sec4 .right {
    padding: 7% 1% 3% 9%; }
    @media screen and (max-width: 992px) {
      .sec3 .right,
      .sec4 .right {
        padding: 0; } }
  .sec3 h4,
  .sec4 h4 {
    margin-bottom: 7px; }
  .sec3 h3,
  .sec4 h3 {
    margin-top: 0;
    margin-bottom: 50px; }
  .sec3 img,
  .sec4 img {
    position: relative;
    width: 115%;
    left: -7.5%; }
    @media screen and (max-width: 992px) {
      .sec3 img,
      .sec4 img {
        width: 100%;
        left: 0; } }

.sec4 {
  color: #152138; }
  .sec4 h3 {
    margin-top: 0;
    margin-bottom: 40px; }
  .sec4 h4 {
    margin-bottom: 0; }

.sec4 .content {
  padding-top: 3%; }

.sec4 .left {
  padding: 10% 5% 5%;
  margin: 10px !important; }

.sec4 .right {
  padding: 0; }

.sec4:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: #152138;
  z-index: -1;
  width: 100%;
  height: 20%; }
  @media screen and (max-width: 992px) {
    .sec4:before {
      height: 35px; } }

.sec5 {
  background-color: #152138;
  color: #d4d4d4;
  min-height: 0; }
  .sec5 p {
    margin-top: 30px;
    max-width: 310px; }

.sec6 .content {
  width: calc(100% - 250px);
  margin-left: 250px; }
  @media screen and (max-width: 992px) {
    .sec6 .content {
      width: 100%;
      margin-left: 0; } }

.sec6-function {
  margin-top: 90px;
  position: absolute;
  left: auto;
  top: auto; }
  @media screen and (max-width: 992px) {
    .sec6-function {
      display: none; } }

.sec6-function .time {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  padding: 6px;
  border-radius: 2px;
  max-width: 220px;
  margin-bottom: 13px; }
  .sec6-function .time .left {
    text-align: left;
    font-size: 14px; }
  .sec6-function .time .right {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 90px;
    flex: 0 0 90px;
    text-align: right;
    font-size: 13px; }
    .sec6-function .time .right b {
      font-size: 47px;
      line-height: 1;
      font-family: 'Vollkorn', serif; }

.sec6-function > p {
  color: #808080;
  font-size: 15px;
  padding-left: 10px; }

.sec6-function .steps {
  margin-top: 50px; }

.sec6-function .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 16px;
  opacity: 0.3;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }
  .sec6-function .step:hover {
    opacity: 0.8; }
  .sec6-function .step .icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background-color: #152138;
    color: #d4d4d4;
    font-size: 13px;
    text-align: center;
    line-height: 1.1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Vollkorn', serif; }
  .sec6-function .step .text {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 15px; }

.sec6-function .step.active {
  opacity: 1; }

.sec7 .content {
  margin-top: 90px;
  max-width: 1200px; }

.sec7 .box {
  position: relative;
  padding-top: 20%;
  margin: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  background-size: cover; }
  @media screen and (max-width: 992px) {
    .sec7 .box {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      padding-top: 50%; } }

.sec7 .btn {
  font-size: 17px;
  line-height: 60px;
  width: 228px;
  margin: 40px auto;
  background-color: #0f1726;
  color: #d4d4d4;
  font-family: 'Vollkorn', serif; }
  .sec7 .btn i {
    font-size: 16px;
    margin-right: 10px; }

.sec8 {
  padding-top: 5%; }

.sec8 .content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: -230px;
  padding-bottom: 50px; }
  @media screen and (max-width: 992px) {
    .sec8 .content {
      margin-top: 10px; } }

.sec8 .article:nth-of-type(1) {
  margin-left: 52.5%; }
  @media screen and (max-width: 992px) {
    .sec8 .article:nth-of-type(1) {
      margin-left: 0%; } }

.sec8 .article {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
  width: 45%;
  margin: 2.5%;
  float: left; }
  @media screen and (max-width: 992px) {
    .sec8 .article {
      display: block;
      float: none;
      width: 100%;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      margin: 10px auto; } }
  .sec8 .article .img {
    width: 100%;
    height: 190px;
    background-size: cover; }
  .sec8 .article .text {
    color: #152138;
    font-size: 0;
    padding: 20px;
    background-color: #fff; }
  .sec8 .article .chapter,
  .sec8 .article .date {
    font-size: 17px;
    display: inline-block;
    text-align: left;
    width: 50%;
    font-family: 'Vollkorn', serif; }
    .sec8 .article .chapter i,
    .sec8 .article .date i {
      margin-right: 5px;
      font-size: 12px; }
  .sec8 .article .date {
    text-align: right; }
  .sec8 .article .title {
    font-size: 20px;
    margin-bottom: 50px;
    text-align: left;
    margin-top: 15px; }
  .sec8 .article .who {
    font-size: 15px;
    text-align: right;
    width: 100%;
    color: #808080; }

.sec9 {
  background-color: #152138;
  color: #d4d4d4;
  padding: 5% 0;
  min-height: 0;
  text-align: center; }
  @media screen and (max-width: 992px) {
    .sec9 {
      padding: 60px 5% 30px; } }
  .sec9 h2 {
    margin: 0 auto 10px;
    color: #d4d4d4;
    text-align: center; }
  .sec9 p {
    margin-bottom: 65px; }
  .sec9 .btn {
    line-height: 60px;
    width: 230px;
    text-align: center;
    color: #d4d4d4;
    font-size: 15px;
    background-color: #0f1726;
    margin: 0px auto 10px; }
  .sec9 .golden-btn {
    background-color: #806239; }

footer {
  padding-bottom: 5%; }
  @media screen and (max-width: 992px) {
    footer {
      padding: 30px 5%; }
      footer h2 {
        font-size: 50px !important; } }
  footer .content {
    color: #152138;
    position: absolute;
    right: 0;
    top: 30px;
    width: calc(100% - 450px);
    margin: 0 50px 0 auto;
    max-width: 800px; }
    @media screen and (max-width: 992px) {
      footer .content {
        position: relative;
        width: 100%;
        top: 0;
        padding-bottom: 50px; } }
    footer .content span {
      font-family: 'Vollkorn', serif; }

.sq-bg {
  background-image: url("../img//main/bg.png");
  background-repeat: repeat;
  background-size: 300px; }

#pop-box {
  position: fixed;
  display: none;
  left: 70px;
  top: 0;
  width: calc(100% - 70px);
  background-color: rgba(21, 33, 56, 0.95);
  width: 100%;
  height: 100vh;
  z-index: 32;
  color: #d4d4d4; }
  @media screen and (max-width: 992px) {
    #pop-box {
      left: 0;
      width: 100%; } }
  #pop-box .close {
    position: absolute;
    right: 0;
    top: 55px;
    cursor: pointer;
    font-family: 'Vollkorn', serif;
    font-size: 20px;
    z-index: 2; }
  #pop-box .pop-content {
    display: none;
    width: 95%;
    margin: 0 auto;
    padding: 50px 0;
    max-width: 700px; }
    #pop-box .pop-content h2 {
      font-family: 'Vollkorn', serif;
      color: #806239;
      font-size: 100px;
      text-align: left; }
    #pop-box .pop-content .table-content {
      margin-top: 50px;
      padding: 0 30px 0 0;
      height: calc(100vh - 200px);
      overflow: auto;
      -webkit-overflow-scrolling: touch; }
  #pop-box .table {
    margin-bottom: 40px; }
    #pop-box .table .title {
      padding-bottom: 16px;
      margin-bottom: 16px;
      -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5); }
    #pop-box .table b {
      font-family: 'Vollkorn', serif; }
    #pop-box .table .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 5px; }
    #pop-box .table .price {
      color: #806239;
      font-family: 'Vollkorn', serif; }

.article-content {
  padding-top: 80px;
  max-width: 400px;
  margin: auto; }
  .article-content h3 {
    font-size: 18px;
    margin-bottom: 35px; }
  .article-content p {
    font-size: 14px;
    line-height: 1.9; }

.step-card {
  background-color: #fff;
  width: 47.5%;
  max-width: 300px;
  font-size: 0;
  text-align: center;
  position: relative;
  margin: 0 0 0 auto;
  margin-top: -25%;
  opacity: .3;
  position: relative;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }
  @media screen and (max-width: 992px) {
    .step-card {
      width: 100%;
      max-width: 100%; } }
  .step-card:nth-of-type(1) {
    margin-top: 0; }
    @media screen and (max-width: 992px) {
      .step-card:nth-of-type(1) {
        margin-top: 20px; } }
  .step-card:nth-of-type(2n) {
    margin: 0 0 0 auto;
    margin-top: -25%;
    -webkit-transform: translateX(calc(-100% - 20px));
    -ms-transform: translateX(calc(-100% - 20px));
    transform: translateX(calc(-100% - 20px)); }
    @media screen and (max-width: 992px) {
      .step-card:nth-of-type(2n) {
        margin-top: 20px;
        -webkit-transform: translateX(calc(0%));
        -ms-transform: translateX(calc(0%));
        transform: translateX(calc(0%)); } }

.step-card.active {
  opacity: 1; }

.step-card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2; }
  .step-card-head .icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    width: 70px;
    height: 70px;
    padding-top: 16px;
    background-color: #152138;
    color: #fff;
    font-size: 21px;
    text-align: center;
    line-height: 1;
    font-family: 'Vollkorn', serif; }
  .step-card-head .text {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: auto;
    padding: 10px 20px; }
    .step-card-head .text h3 {
      font-size: 20px;
      margin-bottom: 10px;
      text-align: left; }
    .step-card-head .text p {
      font-size: 13px;
      text-align: left; }
