h1 {
  font-size: 13px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 27px; }

span {
  font-size: 13px; }

p {
  font-size: 20px; }

html, body {
  font-size: 15px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

* {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

input, textarea, button, select, option, optgroup, fieldset, label {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 0; }

a {
  display: inline-block;
  text-decoration: none;
  color: currentColor; }

[class*='flex'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  [class*='flex'] > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 10px; }

[class*='flex'][class*='-jc-'] {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

[class*='flex'][class*='-jfs-'] {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

[class*='flex'][class*='-jfe-'] {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

[class*='flex'][class*='-jsa-'] {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

[class*='flex'][class*='-jsb-'] {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

[class*='flex'][class*='-ac-'] {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

[class*='flex'][class*='-as-'] {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

[class*='flex'][class*='-afs-'] {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

[class*='flex'][class*='-afe-'] {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

[class*='flex'][class*='-nw-'] {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

[class*='-f10-'] > * {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

[class*='-f01-'] > * {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 1;
  flex-shrink: 1; }

[class*='-f11-'] > * {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1; }

[class*='flex'][class*='-l1-'] > * {
  width: calc( 100% - 20px);
  -ms-flex-preferred-size: calc( 100% - 20px);
  flex-basis: calc( 100% - 20px); }

[class*='flex'][class*='-l2-'] > * {
  width: calc( 50% - 20px);
  -ms-flex-preferred-size: calc( 50% - 20px);
  flex-basis: calc( 50% - 20px); }

[class*='flex'][class*='-l3-'] > * {
  width: calc( 33.33% - 20px);
  -ms-flex-preferred-size: calc( 33.33% - 20px);
  flex-basis: calc( 33.33% - 20px); }

[class*='flex'][class*='-l4-'] > * {
  width: calc( 25% - 20px);
  -ms-flex-preferred-size: calc( 25% - 20px);
  flex-basis: calc( 25% - 20px); }

[class*='flex'][class*='-l5-'] > * {
  width: calc( 20% - 20px);
  -ms-flex-preferred-size: calc( 20% - 20px);
  flex-basis: calc( 20% - 20px); }

[class*='flex'][class*='-l6-'] > * {
  width: calc( 16.66% - 20px);
  -ms-flex-preferred-size: calc( 16.66% - 20px);
  flex-basis: calc( 16.66% - 20px); }

@media screen and (max-width: 992px) {
  [class*='flex'][class*='-m1-'] > * {
    width: calc( 100% - 20px);
    -ms-flex-preferred-size: calc( 100% - 20px);
    flex-basis: calc( 100% - 20px); }
  [class*='flex'][class*='-m2-'] > * {
    width: calc( 50% - 20px);
    -ms-flex-preferred-size: calc( 50% - 20px);
    flex-basis: calc( 50% - 20px); }
  [class*='flex'][class*='-m3-'] > * {
    width: calc( 33.33% - 20px);
    -ms-flex-preferred-size: calc( 33.33% - 20px);
    flex-basis: calc( 33.33% - 20px); }
  [class*='flex'][class*='-m4-'] > * {
    width: calc( 25% - 20px);
    -ms-flex-preferred-size: calc( 25% - 20px);
    flex-basis: calc( 25% - 20px); } }

@media screen and (max-width: 768px) {
  [class*='flex'][class*='-s1-'] > * {
    width: calc( 100% - 20px);
    -ms-flex-preferred-size: calc( 100% - 20px);
    flex-basis: calc( 100% - 20px); }
  [class*='flex'][class*='-s2-'] > * {
    width: calc( 50% - 20px);
    -ms-flex-preferred-size: calc( 50% - 20px);
    flex-basis: calc( 50% - 20px); }
  [class*='flex'][class*='-s3-'] > * {
    width: calc( 33.33% - 20px);
    -ms-flex-preferred-size: calc( 33.33% - 20px);
    flex-basis: calc( 33.33% - 20px); } }

@media screen and (max-width: 320px) {
  [class*='flex'][class*='-xs1-'] > * {
    width: calc( 100% - 20px);
    -ms-flex-preferred-size: calc( 100% - 20px);
    flex-basis: calc( 100% - 20px); }
  [class*='flex'][class*='-xs2-'] > * {
    width: calc( 50% - 20px);
    -ms-flex-preferred-size: calc( 50% - 20px);
    flex-basis: calc( 50% - 20px); } }

[class*='btn'] {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center; }

* {
  font-family: "Quicksand", PingFangTC-Thin, xingothic-tc, sans-serif, Microsoft JhengHei;
  font-weight: 200;
  position: relative; }

body {
  overflow-x: hidden;
  padding-left: 75px;
  background-color: #d4d4d4; }

header, section {
  padding: 0 43px; }

nav#nav {
  background-color: #152138;
  position: fixed;
  left: 0;
  top: 0;
  width: 75px;
  height: 100vh;
  z-index: 30;
  color: #d4d4d4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  nav#nav .logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 13px;
    -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1); }
    nav#nav .logo img {
      width: 51px; }
  nav#nav .middle {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    nav#nav .middle a {
      display: block;
      height: 30px;
      width: 30px;
      position: relative; }
    nav#nav .middle a:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 5px;
      height: 1px;
      margin: auto;
      -webkit-box-shadow: inset 0 0 0 1px #d4d4d4;
      box-shadow: inset 0 0 0 1px #d4d4d4;
      -webkit-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease; }
    nav#nav .middle a.active:after {
      height: 5px;
      margin: 13px auto;
      border-radius: 100%;
      -webkit-box-shadow: 0 0 0 1px #d4d4d4;
      box-shadow: 0 0 0 1px #d4d4d4; }
    nav#nav .middle a:hover:after {
      height: 5px;
      margin: 13px auto;
      border-radius: 100%;
      -webkit-box-shadow: 0 0 0 1px #d4d4d4;
      box-shadow: 0 0 0 1px #d4d4d4;
      background-color: #d4d4d4; }
  nav#nav .calltoaction {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    background-color: #0f1726;
    width: 100%; }
